# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/
*.egg-info/
dist/
build/

# JavaScript/Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.nuxt
.next
.out
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store 